{% extends 'header.html' %}

{% block content %}
<br>
 <div class="container">
<h2>Data from MYSQL</h2>
<table border="1" width='700'>
<tr align="center">
<td><b>Title</b></td>
<td><b>Tag</b></td>
<td><b>Author</b></td>
<td><b>Status</b></td>
<td><b>Delete</b></td>
</tr>
  <ul class="collection">
  {% comment %}
  {{ count }}
  {% endcomment %}
{% for websites in users %}

<tr class="collection-item" align="center">
	<td><a href="/details/{{websites.id}}">{{websites.title}}</a></td>
	<td>{{websites.tag}}</td>
	<td>{{websites.author}}</td>
	<td><a href="/update/{{websites.id}}"><b>Edit</b></a></td>
	<td><a href="/delete/{{websites.id}}"><b>Delete</b></a></td>
</tr>
{% endfor %}
</ul> 

</table> 
{{ user.username }}
{% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}